<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Web插件项目</title>

    <!--<link th:href="@{/bootstrap/theme/materia/bootstrap.min.css}" href="../../static/bootstrap/theme/materia/bootstrap.min.css" rel="stylesheet"/>-->
</head>
<body>

    <div class="fixed-bottom text-center" th:fragment="copy">
        <p style="line-height: 15px;">版权所有 © 苏州广达科技有限公司</p>
    </div>

    <!--<script th:src="@{/jquery/3.2.1/jquery.slim.min.js}" src="../../static/jquery/3.2.1/jquery.slim.min.js"></script>-->
    <!--<script th:src="@{/bootstrap/js/popper.min.js}" src="../../static/bootstrap/js/popper.min.js"></script>-->
    <!--<script th:src="@{/bootstrap/js/bootstrap.min.js}" src="../../static/bootstrap/js/bootstrap.min.js"></script>-->
</body>
</html>